@font-face {
    font-family: 'press start 2p';
    font-style: normal;
    font-weight: 150;
    src: local('Press Start 2P'), url(https://fonts.cdnfonts.com/s/15306/PressStart2P-Regular.woff) format('woff');
}

* {
    font-family: "press start 2p", serif;
    background: #000000;
}

.container {
    display: grid;
    width: 100%;
}

.header {
    padding: 12px;
    text-align: left;
}

.header h1 {
    color: #1EC503;
    font-size: 24px;
    line-height: 1.2em;
}

.header h2 {
    color: #1EC503;
    font-size: 16px;
    line-height: .5em;
}

button {
    background-color: #1EC503;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 5px 15px;
    margin: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: #000000;
    color: #1EC503;
    -webkit-box-shadow: 0 5px 37px 24px rgba(30, 197, 3, 0.2);
    -moz-box-shadow: 0 5px 37px 24px rgba(30, 197, 3, 0.2);
    box-shadow: 0 5px 37px 24px rgba(30, 197, 3, 0.2);
}

.results-holder {
    padding: 12px;
    display: flex;
    max-height: 400px;
    overflow: auto;
    vertical-align: top;
}

.results {
    width: 80%;
    padding: 10px;
    margin: 0 auto auto;
    border-collapse: collapse;
}

.results, .results th, .results td {
    text-align: center;
    border: 3px solid #1EC503;
    color: #1EC503;
    background-color: #000000;
    font-size: 12px;
}

.results tbody tr {
    line-height: 0;
    height: 27px;
}

.results th {
    position: sticky;
    top: 0;
    background-color: #1EC503;
    color: #000000;
}
